@charset "utf-8";

/*
@name: dididi
@function: page reset for Chinabank project
@author: wangmengli Arvin
@build: 2016-4-12 17:00
*/
body{font-family: "Microsoft Yahei",Tahoma, Geneva, sans-serif;text-align:center;}
body{width:100%; overflow-x:hidden;}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, img, form, textarea, input, button, th, td ,div,a{ margin: 0; padding: 0; }
img { border: none }
li { list-style: none; }
i { font-style: normal; }
em { font-style: normal; }
strong{font-weight:500;}
.w100{width:100%;}
/*背景色*/
.bgcol{ background:#2c2c35;}
.bgf64143{ background:#f64143;}
.bg533037{background:#533037;}
.bg333342{background:#333342;}
/*前景色*/
.colf{color:#fff;}
.colf64143{color:#f64143;}
.colc{color:#ccc;}
.col0{color:#000;}
.colfffa2b{color:#fffa2b;}
.colf0cf17{color:#f0cf17;}
.colbcbce7{color:#bcbce7; border:1px solid #bcbce7;}
.cole2ae31{color:#e2ae31; border:1px solid #e2ae31;}
.col5fb149{color:#5fb149; border:1px solid #5fb149;}
.col9d7ef4{color:#9d7ef4; border:1px solid #9d7ef4;}
.colf47ead{color:#f47ead; border:1px solid #f47ead;}
/*字号*/
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz32{font-size:0.5925rem;}
.fz60{font-size:0.70rem;}
.fz48{font-size:0.888rem;}
.fz42{font-size:0.777rem;}
/*边距*/
.mb1{margin-bottom:0.1rem;}
.mt54{margin-top:1rem;}
.mb100{margin-bottom:1.851rem;}
.mb40{margin-bottom:0.74rem;;}
.pad{padding:0 0.2rem;}
.tl{text-align:left;}
/*清楚浮动*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*头部*/
.str{font-size:1.48rem; height:1.222rem;line-height:1.222rem;}
.ddz{margin-top:1.85rem; height:1.11rem; line-height:1.11rem; font-size:1.111rem;}
.lingj{margin-top:1.48rem; margin-bottom:3rem; height:1rem; line-height:1rem; font-size:0.926rem;}


.dd-fxp{ height:14.629rem; position:relative;}
.fxp{ background:url(../img/fxp.png) 0 0 no-repeat; width:14.555rem; height:14.611rem; background-size:100%; position:relative;}
#laba{ background:url(../img/lab.png) 0 0 no-repeat; width:5.74rem; height:5.74rem; background-size:100%; position:absolute; top:4.4rem; 
left:4.407rem; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; -webkit-user-select: none/*禁用ios长按按钮放大*/; }
.guangbo{ position:absolute; left:0px; top:-3rem;}

@-webkit-keyframes opac{
	from {opacity: 0.7;width:0;height:0;top:50%;left:50%;}    
	to {opacity : 0;width:100%;height:100%;top:0;left:0;}
}


.w1,.w2,.w3,.w4{visibility: hidden;}
.animate .w1{
	visibility:visible;
	-webkit-animation:opac 1.5s; background:#ccc;
}
.animate .w2{
	visibility:visible;
	-webkit-animation:opac 1.5s;-webkit-animation-delay:.3s;background:#636374;
}
.animate .w3{
	visibility:visible;
	-webkit-animation:opac 1.5s;-webkit-animation-delay:.6s;background:#636374;
}
.animate .w4{
	visibility:visible;
	-webkit-animation:opac 1.5s;-webkit-animation-delay:.9s;background:#636374;
}

.wave{width:20rem;height:20rem;position:absolute;top:0px;left:0px; overflow:hidden;}
.wave *{border:0px solid #fff;position:absolute;border-radius:50%; background:#636374;}



/*奖箱状态*/
.jiangxiang{margin-top:3.14rem;}
.jiangxiang .jx-ms {background:#333342; border-radius:25px; width:15rem; height:2.03rem; line-height:2.03rem; position:relative; font-size:0.7777rem;}
.jiangxiang .zhongjiang{background:#333342; border-radius:25px; color:#fff; width:15rem; height:2.03rem; line-height:2.03rem; position:relative; border:2px solid #f64143;}
.jx-sl{width:1.555rem; height:1.555rem; line-height:1.555rem; border-radius:50%; position:absolute; right:5px; top:-12px;}

@media (min-width:360px){

}
/*@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){*//* 兼容iphone4/4s */
/*.jiangxiang{margin-top:2rem;}
.lingj{margin-top:1rem; margin-bottom:2rem;}
.str{font-size:20px;}
}*/
/*@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){*//* 兼容iphone5 */
/*.str{font-size:20px;}
}*/
/*@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){*//* 兼容iphone6 plus*/
/*.str{font-size:28px;}
}*/






/*动画*/
#animateTest {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	-o-animation-duration: 1s;
	-o-animation-delay: .2s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

/*  50% {
    opacity: 0.3;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }

  70% {
	 opacity: 0.5;
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }
*/
  100% {
	   opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*抖动*/
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}


/*六一儿童节页面*/
.bgimg{ background:#2c2c35 url(../img/light.png) center center no-repeat;background-size:100%; height:100%; position:absolute; left:0; top:0; }
.liuyi{ background:url(../img/liuyi.png) 0 0 no-repeat; width:16.222rem; height:11.259rem; background-size:100%; margin-top:0.185rem; margin-bottom:4.37rem; position:relative;
animation-delay:.0s; -webkit-animation-delay:.0s; } 
.qiqiu{ background:url(../img/qiqiu.png) 0 0 no-repeat; width:3.0185rem; height:3.648rem;background-size:100%; position:absolute; left:2.407rem; top:0.5rem; z-index:0; }
.libao{ background:url(../img/libao.png) 0 0 no-repeat; width:4.9259rem; height:4.83333rem;background-size:100%; margin-bottom:3.5185rem; 
opacity:0;  -moz-opacity:0; filter:alpha(opacity=0);-khtml-opacity: 0;} 
.syts{margin-top:1.111rem; height:0.888rem; line-height:0.888rem; font-size:0.925rem; margin-bottom:1.111rem;  opacity: 0;}
.stysbt{ /*margin-bottom:5.555rem;*/  opacity: 0;}
.syts span{font-size:1.407rem;}
.timebj{ background:url(../img/timebj.png); width:2.4629rem; height:2.6666rem; line-height:2.666rem; background-size:100%; display:inline-block;}



/*由上向下的动画*/
.fadeInUp { animation: fadeInUp 0.9s; -webkit-animation: fadeInUp 0.9s; -o-animation: fadeInUp 0.9s; }
@-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-14rem);
 transform: translateY(-14rem);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

/*由小向大的动画*/
.samllbig { animation: samllbig 0.8s; -webkit-animation: samllbig 0.8s;-moz-animation: samllbig 0.8s; -o-animation: samllbig 0.8s;   -webkit-animation-fill-mode: forwards ;  -moz-animation-fill-mode: forwards ;animation-delay:.5s; -webkit-animation-delay:.5s;  }
.samllbig-dd { animation: samllbig 0.8s; -webkit-animation: samllbig 0.8s;-moz-animation: samllbig 0.8s; -o-animation: samllbig 0.8s;   -webkit-animation-fill-mode: forwards ;  -moz-animation-fill-mode: forwards ;  }
.samllbig.samllbig2 { animation: samllbig 0.8s; -webkit-animation: samllbig 0.8s; -ms-animation: samllbig 0.8s;-o-animation: samllbig 0.8s;   -webkit-animation-fill-mode: forwards ; animation-delay:1s; -webkit-animation-delay:1s;  }
.samllbig3 {animation: samllbig3 0.3s; -webkit-animation: samllbig3 0.3s; -ms-animation: samllbig 0.8s;-o-animation: samllbig3 0.3s;   -webkit-animation-fill-mode: forwards ; animation-delay:0.5s; -webkit-animation-delay:0.5s; }
 @-webkit-keyframes samllbig { 
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.05);
 -ms-transform: scale(1.05);
 transform: scale(1.05);
}
 70% {
 -webkit-transform: scale(.9);
 -ms-transform: scale(.9);
 transform: scale(.9);
}
 100% {
	 opacity:1;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
 @-moz-keyframes samllbig { 
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.05);
 -ms-transform: scale(1.05);
 transform: scale(1.05);
}
 70% {
 -webkit-transform: scale(.9);
 -ms-transform: scale(.9);
 transform: scale(.9);
}
 100% {
	 opacity:1;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
 @-webkit-keyframes samllbig3 { 
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
}
 100% {
opacity:1;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
/*淡入淡出*/
.drdc-time { animation: drdc-time 6s; -webkit-animation: drdc-time 6s; -o-animation: drdc-time 6s;   -webkit-animation-fill-mode: forwards ;-moz-animation-fill-mode: forwards ; animation-delay:1s; -webkit-animation-delay:1s;}
 @-webkit-keyframes drdc-time { 
 0% {
 opacity: 0;
}

 100% {
opacity:1;

}
}
 @-moz-keyframes drdc-time { 
 0% {
 opacity: 0;
}

 100% {
opacity:1; 

}
}

/*从上向下气球*/
.zy {-webkit-animation: zy 2s forwards infinite alternate; -webkit-animation-delay:2s;}
 @-webkit-keyframes zy { 
 0% {
top:0.5rem;
}

 100% {
top:1rem;

}
}

.zy1 {-webkit-animation: zy1 2s forwards infinite alternate; -webkit-animation-delay:2s;}
 @-webkit-keyframes zy1 { 
 0% {
top:-1.5925rem;
}

 100% {
top:-2.5925rem;

}
}
/*弹窗小汽车*/
.zhezhao{width:100%; height:100%; background-color:#2c2c35; /*opacity:0.9; -moz-opacity:0.9; filter:alpha(opacity=90);*/ position:absolute;left:0; bottom:0; z-index:1; opacity:0;}
.close{width:1.8518rem; height:1.8518rem; line-height:1.5518rem; font-size:2rem; border-radius:50%; text-align:center; display:block; position:absolute; top:0.7407rem; right:0.7407rem; z-index:12; text-decoration:none;}
.window_div{width:20rem; height:11rem; position:absolute; top:6.2222rem; left:50%; margin-left:-10rem; }
.bjg{ background:url(../img/slight.png) 0 0 no-repeat; width:16.796rem; height:16.6851rem; background-size:100%; position:absolute; z-index:2; bottom:-4rem; left:50%; margin-left:-8.398rem;
}
.tuoyuan{ background:url(../img/yuanpan.png) 0 0 no-repeat; width:13.4629rem; height:4.3148rem; background-size:100%; position:absolute; z-index:3; bottom:0rem; left:50%; margin-left:-6.73145rem;
}
.ty{background:url(../img/ty.png) 0 0 no-repeat; width:4.3333rem; height:0.537rem; background-size:100%; position:absolute; z-index:4; left:50%; margin-left:-2.1666rem; bottom:2.8rem;
 opacity:0; }
.qiche{background:url(../img/che.png) 0 0 no-repeat; width:3.537rem; height:2.3888rem; background-size:100%; position:absolute; z-index:7; left:50%; margin-left:-1.7685rem; bottom:3rem;
 opacity:0; }
 .cheyan{background:url(../img/cheyan.png) 0 0 no-repeat; width:4.8518rem; height:1.3148rem; background-size:100%; position:absolute; z-index:6; left:50%; margin-left:-2.4259rem; bottom:3.6rem;
 opacity:0; }
.dddd{background:url(../img/dd.png) 0 0 no-repeat; width:10.6666rem; height:5.2592rem; background-size:100%; position:absolute; z-index:5; left:50%; margin-left:-5.3333rem; bottom:4rem;
opacity:0;}
.guangx{background:url(../img/guangxian.png) 0 0 no-repeat; width:13.148rem; height:5.740rem; background-size:100%; position:absolute; z-index:8; left:50%; margin-left:-6.574rem; bottom:3.8rem;
opacity:0;}



/*滴滴滴滴滴滴*/
.yuan-zi{width:13.4629rem; height:6rem; left:50%; margin-left:-6.73145rem; position:absolute; bottom:0rem; z-index:2; opacity:0;}
.mzj{width:8.703rem; height:3.888rem; border:2px solid #fff; border-radius:20px; background:#e23f42; position:absolute; bottom:/*15.6*/-1.4rem; z-index:9; left:50%; margin-left:-4.3515rem; opacity:0.9; }
.txt-mzj{width:8.703rem; height:3.888rem; color:#fffa2b; position:absolute; bottom:/*15.1*/-2rem; z-index:9; left:50%; margin-left:-4.3515rem; font-size:0.851rem; }
.jiang-yuan-f{width:11.8158rem; height:10.1111rem; position: absolute; margin-left:-5.9259rem;  z-index:14; left:50%; opacity:0;}
.jiang-yuan{width:7.777rem; height:7.777rem;border-radius:50%; position:absolute; top:2.7407rem; right:0.7407rem;margin-left:-4.259rem; background:#fff; z-index:14; left:50%; border:0.37rem solid #e83838;}
.jiang-yuan i{ background:url(../img/JP000001.jpg) 0 0 no-repeat; display:inline-block;width:7.777rem; height:7.777rem;line-height:7.777rem; border-radius:50%; background-size:100%;}
.jiang-yuan2{width:7.777rem; height:7.777rem;border-radius:50%; position:absolute; top:2.7407rem; right:0.7407rem;margin-left:-4.259rem; background:#fff; z-index:14; left:50%; border:0.37rem solid #e83838;}
.jiang-yuan2 i{ background:url(../img/JP000002.jpg) 0 0 no-repeat; display:inline-block;width:7.777rem; height:7.777rem;line-height:7.777rem; border-radius:50%; background-size:100%;}
.jiang-yuan3{width:7.777rem; height:7.777rem;border-radius:50%; position:absolute; top:2.7407rem; right:0.7407rem;margin-left:-4.259rem; background:#fff; z-index:14; left:50%; border:0.37rem solid #e83838;}
.jiang-yuan3 i{ background:url(../img/JP000003.jpg) 0 0 no-repeat; display:inline-block;width:7.777rem; height:7.777rem;line-height:7.777rem; border-radius:50%; background-size:100%;}



.caidai{width:11.888rem; height:3.185rem; line-height:2rem;margin-left:-5.944rem; left:50%; position:absolute; top:9.4rem; background:url(../img/piaodai.png) 0 0 no-repeat; z-index:15; background-size:100%;}
.hb{width:16.888rem; height:14.07rem; margin-left:-8.444rem; left:43%; position:absolute; top:-4.8rem; background:url(../img/hongbao.png) 0 0 no-repeat; z-index:13; background-size:100%;}
@-webkit-keyframes bounceOut {
  0% {

	  opacity: 1;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  25% {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
	   opacity: 1;
     -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceOut {
  animation: bounceOut 0.9s; -webkit-animation: bounceOut 0.9s ; -webkit-animation-fill-mode: forwards ; -webkit-animation-delay:0.7s;  
}


/*guang*/
.fadeInUp2{ -webkit-animation:fadeInUp2 1s infinite linear;  -webkit-animation-delay:1.7s;  }
@-webkit-keyframes fadeInUp2 { 0% {
 opacity: 0;
 -webkit-transform: translateY(8px);
 transform: translateY(8px);
}
 50% {
 opacity: 1;
 -webkit-transform: translateY(0px);
 transform: translateY(0px);
}
 80% {
 opacity: .5;
 -webkit-transform: translateY(-3px);
 transform: translateY(-3px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-5px);
 transform: translateY(-5px);
}
}
/*黄色椭圆*/
.drdc-yuan { animation: drdc-yuan 1.5s; -webkit-animation: drdc-yuan 1.5s; -o-animation: drdc-yuan 1.5s;   -webkit-animation-fill-mode: forwards ; animation-delay:0.5s; -webkit-animation-delay:0.5s;}
 @-webkit-keyframes drdc-yuan { 
 0% {
 opacity: 0;
}

 100% {
opacity:1;

}
}
/*.drdc.drdc0 { animation: drdc 0.5s; -webkit-animation: drdc 0.5s; -o-animation: drdc 0.5s;   -webkit-animation-fill-mode: forwards ;}*/
.drdc.drdc2 { animation: drdc3 0.5s; -webkit-animation: drdc3 0.5s; -o-animation: drdc3 0.5s;   -webkit-animation-fill-mode: forwards ; animation-delay:.7s; -webkit-animation-delay:.7s;}
.drdc.drdc3 { animation: drdc3 0.5s; -webkit-animation: drdc3 0.5s; -o-animation: drdc3 0.5s;   -webkit-animation-fill-mode: forwards ;}

 @-webkit-keyframes drdc { 
 0% {
 opacity: 0;
 -webkit-transform: scale(.3);
 transform: scale(.3);
}

 100% {
opacity:1;
-webkit-transform: scale(1);
    transform: scale(1);
}
}
 @-webkit-keyframes drdc3 { 
 0% {
 opacity: 0;
 -webkit-transform: scale(.3);
  transform: scale(.3);
}

 100% {
opacity:0.9;
-webkit-transform: scale(1);
    transform: scale(1);

}
}



/*红包*/
.leftup{animation: redbao 1s;-webkit-animation: redbao 1s;  -webkit-animation-delay:0.5s; -webkit-animation-fill-mode:forwards; opacity:0;}
@-webkit-keyframes redbao 
{
0%{opacity:0;top:-10.8rem;left:-42%;}
100% { opacity:1;top:-4.8rem;left:43%;}
}



/*弹窗动画 zhezhao*/
.zz-dh {
	-webkit-animation:zzdh 0.5s;  -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes zzdh 
{
0% {opacity:0;}
100% {opacity:0.9;}
}



.tanchuang2 {
	-webkit-animation:myfirst2 1.5s;  -webkit-animation-fill-mode:forwards; z-index:20; 
}
@-webkit-keyframes myfirst2 
{
0% {opacity:0;}
100% {opacity:1;}
}



/*大奖完毕页面*/
.djwb{width:12.5rem; height:8.3888rem; background:url(../img/djwb.png) 0 0 no-repeat; background-size:100%; margin-top:2.9629rem; margin-bottom:0.4rem; position:relative;}
.x-qiqiu{width:2.333rem; height:3.259rem; background:url(../img/qiqiu.png) 0 0 no-repeat; background-size:100%; position:absolute; right:2.6296rem; top:-1.5925rem;}
.x-libao{width:2.6296rem; height:2.888rem; background:url(../img/libao.png) 0 0 no-repeat; background-size:100%; position:absolute; right:0.7407rem; top:0.7rem;}
.xyl{width:14.2962rem; height:7.185rem; background:#333342; border-radius:10px; margin-bottom:7rem;}
.xyl .xy-dd{font-size:0.9259rem; padding-top:2rem; padding-bottom:0.5rem;}
.qd{font-size:1.18518rem;}
	@keyframes fadeInUp-12w {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp-12w {
  -webkit-animation: fadeInUp-12w 0.9s;
}


/*奖箱列表*/
.h3-pb2{padding-bottom:0.18rem;}
.p-pb2{padding-bottom:0.18rem;line-height:20px;}
.jx-list{height:4.274rem; padding:0.74rem; position:relative; margin-bottom:0.5rem;}
.list-img{width:2.703rem; height:2.74rem; background:url(../img/JP000001.jpg); background-size:100%;}
.list-img2{width:2.703rem; height:2.74rem; background:url(../img/JP000002.jpg); background-size:100%;}
.list-img3{width:2.703rem; height:2.74rem; background:url(../img/JP000003.jpg); background-size:100%;}
.list-right{position:absolute; top:0.5rem; left:4.3rem; width:14.82rem; height:4.1rem;}
.list-right h3{font-size:1rem; font-weight:normal; }
.yshixiao{display:block; width:2.7629rem; height:1rem; line-height:1.08rem; border-radius:4px; font-size:0.677rem; text-decoration:none;
position:absolute; top:0.6rem; right:0.74rem;}


/*活动介绍*/
.hdbj{width:15.925rem; height:21rem; padding:0.925rem;}

.djds{width:6rem;  position:absolute; left:50%; margin-left:-3rem; z-index:14; top:-2rem; font-size:1.3rem;}

/*文字调整*/
.txt-mzj .plr18{padding-left:1.8rem; padding-right:1.8rem;}
.txt-mzj .ptop5{padding-top:0.5rem;}
.txt-mzj .plr129{padding-left:1.129rem; padding-right:1.129rem;}
/*404*/
.img404{width:14rem; height:7rem; margin-top:7rem; margin-bottom:7.259rem;}
.btn-sx{ background:#4f9ff8;  text-decoration:none; padding:.5rem 1.296rem; border-radius:5px; font-size:0.74rem;}