<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>抽奖活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
      <meta http-equiv="Page-Enter" content="revealTrans(Duration=2.0,Transition=12)" /> 
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/loading.css" type="text/css"/>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/size.js"></script>
    <script type="text/javascript" src="js/didi.js"></script>
    <script type="text/javascript" src="js/template.js"></script>
</head>
<body class="bgcol">
<!--over.html-->
<div  style="display: none;" id="over">
    <div class="w100  fadeInUp-12w" align="center">
        <div class="djwb">
            <div class="x-qiqiu zy1"></div>
            <div class="x-libao"></div>
        </div>
    </div>
    <div class="w100" align="center">
        <div class="xyl">
            <p class="xy-dd colf">下一轮嘀嘀嘀</p>
            <p class="qd colf0cf17">敬请期待</p>
        </div>
    </div>


    <div class="jiangxiang " align="center" >
        <!--奖箱是空的状态开始  zhongjiang shake-->
        <div class="jx-ms colc  zhongjiang shake " id="animateTest1">
            <span>奖箱还是空空的</span>
            <!--<span>恭喜您中奖 <strong class="colf64143">小米手环</strong> 1个</span>-->
            <!--<div class="jx-sl colf bgf64143">10</div>-->
        </div>
    </div>
</div>


<!--over-->
<!--****************************loading******************************-->
<div id="loading" style="display:none;position:absolute; left:50%; top:45%; width: 100px; height: 100px; margin-left:-50px; margin-top:-50px;">
    <div class="loadEffect">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--*****************************************************************-->
<div class="w100  bgimg" id="qiehuan">
<div class="w100" align="center">
	<div class="liuyi fadeInUp">
    <div class="qiqiu zy"></div>
    </div>
</div>

<div class="w100" align="center">
	<div class="libao samllbig"></div>
</div>

<div class="w100" align="center">
	<div class="syts colc drdc-time">距离活动开始还有</div>
</div>

<div class="w100" align="center">
	<div class="stysbt colc drdc-time" id="colockbox1">
      <span class="day timebj col0 ">00</span><span>天</span>
      <span class="hour timebj col0">00</span>
      <span class="colf">:</span>
      <span class="minute timebj col0">00</span>
      <span class="colf ">:</span>    
      <span class="second col0 timebj drdc123">00</span>
    </div>
</div>
</div>


<!--嘀嘀嘀页面-->
<div class="w100"  id="dididi" style="display:none; opacity:0;">
<div class="ddz colf">嘀嘀中...</div>
    <div class="lingj  colc ">还有<strong class=" str colf64143 pad" id="prize_left">50</strong>个大奖未被领走</div>
    <!--方向盘开始-->
    <div class="dd-fxp " align="center" >
    <div class="guangbo">
            <div class="wave">
                <div class="w1"></div>
                <div class="w2"></div>
                <div class="w3"></div>
                <div class="w4"></div>
                <div class="w5"></div>
            </div>
           </div>
        <div class="fxp">
         
            <div class="laba" id="laba"></div>
        </div> 
    </div>
    <!--方向盘结束-->
    <div class="jiangxiang " align="center" >
        <!--奖箱是空的状态开始  zhongjiang shake-->
        <div class="jx-ms colc  zhongjiang  " id="animateTest">
            <span>奖箱还是空空的</span>

        </div>
        <!--奖箱是空的状态结束-->
    </div>
   <div><audio id="audioDiv" src="di.wav"></audio></div>
</div>
   
</body>
</html>

<!--弹窗-->
<div class="zhezhao zz-dh closeWin" style="display:none;"></div>
<a id="closeMe"  class="close colf bgf64143 closeWin" style="display:none;">×</a>

<div id="noprize" class="window_div" align="center" style="display:none;">


</div>


<div class="window_div " align="center" id="okprize" style="display:none;">

     	
</div>
<script id="prize_tpl" type="text/html">
    <div class="jiang-yuan-f samllbig3">
        <div class="djds colfffa2b">{{rMessage}}</div>
    <div class="bjg"></div>
        {{if content.prizeCode == 'JP000001'}}
            <div class="jiang-yuan"><i></i></div>
        {{else if content.prizeCode == 'JP000002'}}
            <div class="jiang-yuan2"><i></i></div>
        {{else}}
            <div class="jiang-yuan3"><i></i></div>
        {{/if}}
    <div class="caidai colfffa2b">{{content.prizeName}}</div>
    </div>
    <div class="hb leftup"></div>

</script>
<script id="noprize_tpl" type="text/html">
	<div class="bjg"></div>
    <div class="yuan-zi drdc-yuan">
    	 <div class="tuoyuan"></div>      
          <div class="mzj"></div>
           <div class="txt-mzj">
              {{if rMessage.length < 10}}
			  
				<p class="ptop5">
			  {{else if rMessage.length == 10}}
				<p class="plr18">
			  {{else}}
				<p class="plr129">
			  {{/if}}
			  {{rMessage}}
			  
			  </p>
              
           </div>
         
    </div>
    
     <div class="qiche bounceOut"></div>
     <div class="ty bounceOut"></div>
     <div class="cheyan drdc drdc2"></div>
     <div class="dddd samllbig samllbig2"></div>
     <div class="guangx fadeInUp2"></div>		
</script>
<script id="getprize_tpl" type="text/html">
    <span>恭喜您中奖 <strong class="colf64143">{{content.prizeName}}</strong> 1份</span>
    <div class="jx-sl colf bgf64143">{{content.prizeNum}}</div>
</script>
<script id="prize_box" type="text/html">
    <span>恭喜您中奖 <strong class="colf64143">{{latestPrize}}</strong> 1个</span>
    <div class="jx-sl colf bgf64143">{{prizeNum}}</div>
</script>
<script type="text/javascript"> 
var u = navigator.userAgent;
var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
//alert('是否是Android：'+isAndroid);
//alert('是否是iOS：'+isiOS);
if(isiOS){

}
if(isAndroid){
$(function(){
$(".close").css('line-height','1.8518rem');
$(".txt-mzj p").css('padding-bottom',"0.4rem");
});

}


</script>