<!DOCTYPE html>
<html lang="en" ng-app="myMod">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<body ng-controller="parentCtrl"><!--rootScope-->

<div ng-controller="myCtrl">
    <!--子域、父域-->
    {{name}}---{{age}}------{{$parent.age}}
</div>

<input type="text" ng-model="name"/>
<!--ng-开头的指令，都在scope上定义-->
<input type="button" value="change" ng-click="change()"/>
</body>
</html>
<script src="../../public/lib/angular/angular.js"></script>
<script>
//嵌套作用域，一级一级往上找
        angular.module('myMod',[])
                .controller('myCtrl',function($scope){
                    console.log($scope);
                    $scope.age = 100;
                    $scope.change = function(){
                        $scope.name = 'hello';
                    }
                }).controller('parentCtrl',function($scope){
                    $scope.age = 19;
                });
 </script>