<!DOCTYPE html>
<html lang="en" ng-app="myMod">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<body ng-controller="myCtrl"><!--rootScope-->
    {{name}}
<input type="text" ng-model="name"/>
<!--ng-开头的指令，都在scope上定义-->
<input type="button" value="change" ng-click="change()"/>
</body>
</html>
<script src="../../public/lib/angular/angular.js"></script>
<script>
    /*
        依赖注入：
        只需要声明要使用的对象，就可以自动得到，不需要自己去创建。

        1.单向数据绑定：
            template + model =>view视图，单向不可逆，如果model或者template改了，只能重新渲染。
        2.双向数据绑定：
            1)view发生了变化，这个变化也会自动反馈到scope的数据上，scope模型会自动更新。
            2)当scope发生变化，view的数据也会更新到最新值。
     *
     * */
        /*  步骤：
            1.找到ng-app之后，会生成一个$rootScope空对象
        *   2.ng-model会在rootScope下挂载一个name的元素。
        *   $rootScope.name = "";
        *
        * */
        angular.module('myMod',[])
                .controller('myCtrl',function($scope){
                    console.log($scope);
                    $scope.change = function(){
                        $scope.name = 'hello';
                    }
                });
 </script>