<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app ng-init="name='hello';arr=[1,3,5];ishide=false;obj=[{id:1,name:'jackson'},{id:2,name:'tpooc'},{id:3,name:'thomss'}]">
    {{name}}---{{arr[1]}}
    <br>
    请输入名字：<input type="text" ng-model="test">
    hello, <span ng-bind="test"></span>
    <button ng-click="ishide=!ishide">点击</button>
    <p ng-hide="ishide">i will hide this para</p>
    <hr/>
    <input type="text" ng-model="question"/>
    <ul>
        <li ng-repeat="val in obj | filter:question">{{val['name']}}</li>
    </ul>
</body>
</html>
<script src="../../public/lib/angular/angular.js"></script>
<script>
    /*
      内置指令：
      1.ng-app：用来指令一个angular应用程序入口，并通过angularjs完成自动初始化和创建应用作用域
      同时载入和指令内容相关的模块，并通过拥有ng-app指令的标签为根节点开始编译其中的dom。
      如<div ng-app></div>这样，一个angularjs应用程序初始化就完成了并标记了作用域，
      也就是div元素就是angularjs应用程序的所有者，在它里面的指令也就会被angular编译器编译、解析了。
    *2.ng-init：初始化应用程序数据，也就是angularjs应用程序定义初始值。
    * 如：
    * <div ng-app="" ng-init="name='hello'"></div>
    * 不仅可以赋值字符串，也可以赋值为数字，数组，对象，而且可以多个变量赋初始值。
    * 等于在$rootScope赋的值。
    * 3.ng-model:使用此指令可以把应用程序数据绑定到html元素，实现model和view的双向绑定。
    * ng-model把相关处理事件绑定到指令标签上，这样我们就可以不用手工处理相关事件（如input的change，keydown等）的条件下完成
    * 对数据的展现要求。
    * ng-model原理：
    * 1）angular加载完成后会启动，首先找到ng-app指令。
    * 2）找到后认为ng-app里面的所有内容都归angular来管
    * 3）找子层标签里面的所有指令，然后就可以找到ng-model
    * 4）找到后生成数据模型，然后挂在作用域上。
    * 5）使用此数据模型的变量和视图进行绑定。
    * 4.ng-bind：
    * ng-bind和angularjs表达式功能相似，但ng-bind是在angular解析渲染完毕后才将数据显示出来的。
    * 如下使用ng-bind指令绑定应用程序数据。
    * <input type="text" ng=model="name">
    *     hello,<span ng-bind="name"></span>
    * 5.ng-hide="true"隐藏dom内容。
    * 6.ng-repeat:遍历元素。
    * */




 </script>