<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app>
    <div class="container-fluid" ng-init="isred:false">
        <button class="btn btn-primary" ng-click="isred=!isred">点击</button>
        <div class="form-group" ng-class="{'has-error':isred}">
            <input class="form-control" type="text" ng-model="username"/>

        </div>
    </div>
</body>
</html>
<script src="../../public/lib/angular/angular.js"></script>
<script>

</script>