<!DOCTYPE html>
<html lang="en" ng-app="myMod">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<!--rootScope-->
<body>

<div ng-controller="myCtrl1">
    {{countService.count}}
    <input type="button" value="add" ng-click="add()"/>
</div>




<div ng-controller="myCtrl2">
    {{countService.count}}
    <input type="button" value="add" ng-click="add()"/>
</div>
</body>
</html>
<script src="../../public/lib/angular/angular.js"></script>
<script>
/*
* 一个视图一个控制器
* 控制器有相同逻辑，可以封装service注入共用。
* */
//重复代码消除,count共享，借助service。
 angular.module('myMod',[])
        .controller('myCtrl1',function($scope,countService){
             $scope.countService = countService;
            $scope.add = function(){
                countService.add();

            }

        })
        .controller('myCtrl2',function($scope,countService){
             $scope.countService = countService;
             $scope.add = function(){
                 countService.add();

             }
        })
         //返回一个单例对象，注入时不会初始化。
         .factory('countService',function(){
            return {
                count:0,//共享变量
                add:function(){
                    this.count++;
                }
            };
         })
 ;

</script>