@charset "UTF-8";
　　body {
  　　　　margin: 7px;
  　　　　top: 150px;
  　　　　right: 1000%; }

　　div {
  　　　color: #1875e7; }

　　.rounded {
  　　　　border-left-radius: 5px; }

　　.div1 　　　　h1 {
  　　　　　　color: red; }
