<!DOCTYPE html>
<html ng-app="myMod">
<head lang="en">
    <meta charset="UTF-8">
    <title>远程验证</title>
    <link rel="stylesheet" href="../../../public/lib/bootstrap/dist/css/bootstrap.css"/>

</head>
<body ng-controller="formCtrl">
<div class="container">
    <form name="userForm" novalidate="novalidate">
        <div class="form-group" ng-class="{'has-success':userForm.username.$valid && userForm.username.$dirty,'has-error':userForm.username.$invalid && userForm.username.$dirty}">
            <label for="username">用户名</label>
            <input id="username"  my-unique my-error name="username" type="text" class="form-control" ng-model="username"/>
            <!--冗余代码加指令控制-->
            <!--<p class="help-block" ng-show="userForm.email.$error.require">此字段必填</p>-->
            <!--<p class="help-block" ng-show="userForm.email.$error.email">请输入正确的邮箱</p>-->
            <!--<p class="help-block" ng-show="userForm.email.$error.minlength">最小长度不得小于3位</p>-->
        </div>
        <div class="form-group" ng-class="{'has-success':userForm.email.$valid && userForm.email.$dirty,'has-error':userForm.email.$invalid && userForm.email.$dirty}">
            <label for="email">邮箱</label>
            <input id="email"  my-error ng-minlength="3" name="email" type="email" class="form-control" ng-model="email"/>
            <!--冗余代码加指令控制-->
            <!--<p class="help-block" ng-show="userForm.email.$error.require">此字段必填</p>-->
            <!--<p class="help-block" ng-show="userForm.email.$error.email">请输入正确的邮箱</p>-->
            <!--<p class="help-block" ng-show="userForm.email.$error.minlength">最小长度不得小于3位</p>-->
        </div>
        <div class="form-group">
            <input class="btn btn-default" type="button"value="提交"/>
        </div>
    </form>
</div>
{{userForm | json}}


</body>
</html>
<script src="../../../public/lib/angular/angular.js"></script>
<script>
    //form在angular是一个指令，会做默认处理。
    /*表单验证：
     1.定义验证规则，验证有效性
     2.显示验证结果
     3.禁用html5自带验证，novalidate="novalidate"
     4.用户输入后，angular会依次调用验证器进行验证，全部成功时model会变成用户输入的值。
     5.不成功时则保留原值，并在model上增加一个$error对象。
     * $dirty:表单中任何一项是否输入过
     * $pristine:表单中任何一项尚未输入过。
     * $error:存放错误信息
     * $valid:与$invalid相反,合法不合法。
     * $name：表单的名字
     * email:表单各输入框的model。
     * $submitted:是否提交过。
     *--------------------------
     * 注入的ctrl：
     * valid
     * invalid：
     * dirty：
     * pristine：
     *
     * viewValue视图值 input value
     * modelValue模型值 scope属性上的值
     * $setValidity:设置合法性
     * $setViewValue:设置视图值
     * $parses:从视图到模型中的过滤器，双向绑定，拦截
     * $formatters:从模型到视图的过滤器，双向绑定，拦截
     * */
    var module = angular.module('myMod',[]);
    module.controller('formCtrl',function($scope){

    });
    module.directive('myError',function($compile){//注入编译服务
        return {
            require:'ngModel',//依赖ng-model这个指令，也就是email
            link:function(scope,ele,attrs,ngModelCtrl){
               // console.log(ngModelCtrl);
                //console.log(scope);
                //------------------------------不可分割的整体-------------------------------------------------
                var subScope = scope.$new(true);//创建一个独立new的scope，true是新创建，false就是本身。
                subScope.hasErrors = function(){
                    //console.log(ngModelCtrl);
                    //return true;
                    return ngModelCtrl.$invalid;
                };
                subScope.errors = function(){
                    return ngModelCtrl.$error;
                };

                var template = '<p class="help-block" ng-show="hasErrors()" ng-repeat="(key,value) in errors()">{{key|myerrorfilter}}</p>'
                //如何编译一个模板?利用compile这个服务。
                var msg = $compile(template)(subScope);//类似render，把字符串里面的变量编译
                //-----------------------------不可分割的整体---------------------------------------------
                ele.after(msg);//放到input后面。

            }

        };
    });
    module.directive('myUnique',function($http,$timeout){
        //监听数据变化
        //当数据变化时，到后台校验。
        //用返回值设置字段的有效性。
        return {
            require:'ngModel',
            link:function(scope,ele,attrs,ngModelCtrl){
                var t;
                scope.$watch(attrs.ngModel,function(newValue,oldValue){

                    if(t){
                        $timeout.cancel(t);
                    }
                    t = $timeout(function(){
                        $http({
                            method:'post',
                            url:'http://localhost:9999/check',
                            //data:{username:ngModelCtrl.modelValue}//取模型值
                            data:{username:newValue},
                            headers:{'Content-Type':'application/json'}
                        }).then(function(result){

                            var data = result.data;
                            console.log(data);
                            ngModelCtrl.$setValidity('unique',data.unique);
                        });
                    },300);

                });
            }
        }
    });
    module.filter('myerrorfilter',function(){
        return function(input){
            var msg = {
                'require':'必填啊',
                'email':'必须是邮箱啊',
                'unique':'用户名被占用'
            };
            return msg[input];
        }
    });
</script>